@import '../../variables.scss';

.offset-control {
  max-width: 400px;
  margin: 0 -10px;

  &__label {
    text-align: center;
  }

  &__inputs {
    display: flex;
    width: 100%;

    > * {
      flex-grow: 1;
    }
  }

  $color-button: #ddd;
  &__button {
    border: 0;
    background: $color-button;
    font-size: 14px;
    margin: 10px;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background: darken($color-button, 10)
    }
  }

  &__input {
    margin: 10px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 3px;
    border: 2px solid #ddd;
    text-align: center;
    min-width: 100px;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
