$color-bg-message: #eef5f7;

.message-box {
  font-size: 14px;
  margin: 10px 0;
  border-radius: 3px;
  color: darken($color-bg-message, 60);
  background: $color-bg-message;
  border: 2px solid darken($color-bg-message, 5);
  display: flex;
  width: 100%;

  &__text {
    padding: 10px 10px 10px 0;
  }

  &__icon {
    padding: 5px 0 0;
    flex: 0 0 36px;
    text-align: center;

    path {
      fill: darken($color-bg-message, 30);
    }
  }
}
