@import './variables.scss';

.geotag {
  &__steps {
    max-width: 768px;
    margin: 30px auto;
    counter-reset: steps-counter;
  }
}

.g-step {
  margin: 80px 40px;

  &__title {
    position: relative;
    margin: 16px 0;

    &:before {
      counter-increment: steps-counter;
      content: counter(steps-counter);
      position: absolute;
      top: -10px;
      left: -40px;
      color: #ddd;
      font-size: 48px;
    }
  }
}

.g-header {
  background: $color-main;
  color: #fff;
  padding: 100px 24px 60px;
  text-align: center;

  &__title {
    margin: 24px 0;
    font-size: 42px;
  }

  &__subtitle {
    margin: 18px 0;
    font-size: 28px;
    font-weight: normal;
  }
}
